---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Amy - Software Engineer in NYC</title>
  {% include head.html %}
</head>
<body>
  <section class="intro">
    <h1>Amy Ciavolino</h1>
    <div>Technical leader &mdash; Conflict mediator &mdash; Artist</div>
  </section>
  <section class="bio">
      <h2>about me</h2>
      <p>Amy Ciavolino is a multidisciplinary professional and emerging queer artist based in NYC. With over a decade of experience in software engineering and leadership, she blends technical expertise with a passion for creative expression and communal values. Amy is also a certified conflict mediator, trained in restorative justice and circle keeping. Her diverse skills enable her to approach challenges with creativity, precision, and empathy.
      </p>
  </section>
  <section class="projects">
    <h2 id="projects">for fun</h2>
    <ol>
      {% assign featured_projects = site.data.projects | where: "featured",true %}
      {% for project in featured_projects %}
        {% include project.html project=project %}
      {% endfor %}
    </ol>
    <a href="projects">Older projects</a>
  </section>
  <section class="resume">
    <h2 id="resume">for money</h2>
    <div class="jobs">

      {% for job in site.data.resume.jobs %}
        <span><a href="{{ job.link }}">{{ job.company }}</a> <span>({{job.date}})</span>  </span>
      {% endfor %}
    </div>
  </section>
  <section class="updated">
    <p>Get in touch! <a href="mailto:hi@amy.tech">hi@amy.tech</a></p>
  </section>
  <div class="updated">
    Last updated {{ site.time | date: "%m / %Y" }}
  </div>
  {% include google_tracking.html %}
</body>
</html>
