---
---
<!DOCTYPE html>
<html>
<head>
  <title>Amy Ciavolino - Software Engineer in NYC</title>
  {% include head.html %}
</head>
<body>
  <h1>Amy Ciavolino</h1>
  <section class="intro">
      <p>Software engineer &amp; artist in NYC</p>
      <p>Say hello: <a href="mailto:hi@amy.tech">hi@amy.tech</a></p>
      <div class="social">
        <span>
          <a href="https://github.com/imightbeamy">
            <svg class="icon" viewBox="0 0 32 32"><use xlink:href="#icon-github"></use></svg>
          </a>
          <a href="https://twitter.com/imightbeAmy">
            <svg class="icon" viewBox="0 0 32 32"><use xlink:href="#icon-twitter"></use></svg>
          </a>
          <a href="https://giphy.com/imightbeamy">
            <svg class="icon" viewBox="0 0 32 32"><use xlink:href="#icon-giphy"></use></svg>
          </a>
          <a href="https://www.linkedin.com/in/amyciavolino">
            <svg class="icon" viewBox="0 0 32 32"><use xlink:href="#icon-linkedin"></use></svg>
          </a>
        </span>
      </div>
  </section>
  <section class="projects">
    <h2 id="projects">for fun</h2>
    <ol>
      {% assign featured_projects = site.data.projects | where: "featured",true %}
      {% for project in featured_projects %}
        {% include project.html project=project %}
      {% endfor %}
    </ol>
    <a href="projects">Older projects</a>
  </section>
  <section class="resume">
    <h2 id="resume">for $$$</h2>
    <div class="jobs">

      {% for job in site.data.resume.jobs %}
        <span><a href="link">{{ job.company }}</a> <span>({{job.date}})</span>  </span>
      {% endfor %}
    </div>
  </section>
  <section class="updated">
    <a href="https://jobs.lever.co/kickstarter?lever-via=1rZoJBVUQC&team=Engineering">Come work with me at Kickstarter</a>
  </section>
  <div class="updated">
    Last updated {{ site.time | date: "%m / %Y" }}
    (<a href="https://github.com/imightbeamy/home-page">Source on GitHub</a>)
  </div>
  {% include google_tracking.html %}
</body>
</html>
