---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Amy - Software Engineer in NYC</title>
  {% include head.html %}
</head>
<body>
  <section class="intro">
      <h1>amy.tech</h1>
      <div class="social">
        <span>
          <a href="https://twitter.com/imightbeAmy" aria-label="Follow me on Twitter">
            <svg class="icon" viewBox="0 0 32 32">
              <use xlink:href="#icon-twitter"></use>
            </svg>
          </a>
          <a href="https://github.com/imightbeamy" aria-label="Me on Github">
            <svg class="icon" viewBox="0 0 32 32">
              <use xlink:href="#icon-github"></use>
            </svg>
          </a>
          <a href="https://giphy.com/imightbeamy" aria-label="Follow me on Giphy">
            <svg class="icon" viewBox="0 0 32 32">
              <use xlink:href="#icon-giphy"></use>
            </svg>
          </a>
        </span>
      </div>
  </section>
  <section class="projects">
    <h2 id="projects">for fun</h2>
    <ol>
      {% assign featured_projects = site.data.projects | where: "featured",true %}
      {% for project in featured_projects %}
        {% include project.html project=project %}
      {% endfor %}
    </ol>
    <a href="projects">Older projects</a>
  </section>
  <section class="resume">
    <h2 id="resume">for money</h2>
    <div class="jobs">

      {% for job in site.data.resume.jobs %}
        <span><a href="{{ job.link }}">{{ job.company }}</a> <span>({{job.date}})</span>  </span>
      {% endfor %}
    </div>
  </section>
  <section class="updated">
    <a href="mailto:hi@amy.tech">Say hello</a>
  </section>
  <div class="updated">
    Last updated {{ site.time | date: "%m / %Y" }}
  </div>
  {% include google_tracking.html %}
</body>
</html>
