---
---
<!DOCTYPE html>
<html>
<head>
    <title>Amy - Projects</title>
    {% include head.html %}
</head>
<body>
    <section class="intro">
        <a href="/">Back</a>
    </section>
    <section class="projects">
    <h2 id="projects">Projects</h2>
    <ol>
        {% assign all_projects = site.data.projects | where_exp: "project", "project.hidden != true" %}
        {% for project in all_projects %}
            {% include project.html project=project %}
        {% endfor %}
    </ol>
  </section>
</body>
</html>
