body {
    max-width: 700px;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    color: #333333;
}

h1,h2 {
    margin: 0;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
}

h1 {
    margin: auto;
    padding: 0;
    font-size: 2em;
    max-width: 15em;
}

section {
    border-top: solid 1px #E4E4E4;
    padding: 10px;
    margin: 10px;
}

section.intro {
    border: none;
    padding: 0;
    text-align: center;
}
.social {
    padding-top: 20px;
}
.social a {
    margin: 0 5%;
}
.social span {
    white-space: nowrap;
}

.icon {
    width: 3em;
    height: 3em;
    fill: #D600AF;
    transition: all .2s;
}

.icon:hover {
    fill: #8F0075;
}

a {
    color: #D600AF;
    text-decoration: none;
    transition: all .2s;
}
a:hover {
    color: #8F0075;
}
.social a {
    text-decoration:none;
}
div {
    overflow: hidden;
    width: 100%;
}
ol {
    list-style: none;
    padding: 0;
}

.resume {
    text-align: center;
}
.resume a, .resume span {
    white-space: nowrap;
}
.resume span span {
    color: #575757;
    font-size: 0.8em;
    padding-right: 0.3em;
}

.projects img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
}
.projects p {
    font-size: .8em;
    margin: 0 0 0 60px;
}
.projects span {
    display: block;
    overflow: hidden;
}
.projects li {
    display: block;
    overflow: hidden;
    margin: 10px 0;
}

.updated {
    text-align: center;
    padding: 10px 0;
}
.updated a {
    white-space: nowrap;
}

@media (max-width: 350px) {
    .projects p {
        clear: both;
        margin: 5px 0;
    }

    .projects li > a {
        display: block;
        overflow: hidden;
    }
}
