<link rel="icon" type="image/png" href="/favicon.svg">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/png" href="./favicon.ico">
<meta name="description" content="Projects etc. by Amy Ciavolino, a front-end software engineer living in NYC and working at Etsy.com">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<style type="text/css">
{{{ css }}}
</style>
{{> src/svg }}