<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="/favicon.ico">
  <title> Amy Ciavolino</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet' type='text/css'>

  <style type="text/css">
    {{{ css }}}
  </style>
   {{> src/svg }}
</head>
<body>
  <h1><a href="/">Amy Ciavolino</a></h1>
  <section class="intro">
      Software engineer living in NYC and working at <a href="http://www.etsy.com">Etsy</a>.
      <ol>
        <li><a href="https://github.com/imightbeamy" class="icon-github"></a></li>
        <li><a href="https://twitter.com/imightbeAmy" class="icon-twitter"></a></li>
        <li><a href="https://www.linkedin.com/in/amyciavolino" class="icon-linkedin"></a></li>
      <ol>
  </section>
  <section class="projects">
    <h2 id="projects">Projects</h2>
    <ol>
        {{# projects }}
          {{> src/project }}
        {{/ projects }}
    </ol>
    <a href="#old-projects">See older projects below.</a>
  </section>
  <section class="resume">
    <h2 id="resume">R&eacute;sum&eacute;</h2>
    <h3>Work and Reseach</h3>
    <ol class="jobs">
        {{# resume.jobs }}
        <li>{{ title }}, <strong>{{ company }}</strong> <span>{{date}}</span></li>
        {{/ resume.jobs }}
    </ol>
    <h3>Education</h3>
    <ol>
        {{# resume.education }}
        <li><strong>{{ school }}</strong>, {{ location }}<br>{{ degree }}</li>
        {{/ resume.education }}
    </ol>
    <h3>Publications</h3>
    <ol class="pubs">
        {{# resume.publications }}
        <li><strong>{{ authors }}.</strong> <a href="{{ link }}">{{ title }}</a>. {{ details }}.</li>
        {{/ resume.publications }}
    </ol>
    <a href="{{ assets }}/Resume_AmyCiavolino.pdf">Download a PDF Copy</a>
  </section>
  <section class="art">
  <h2 id="art">Art</h2>
    {{# art }}
      <a href="{{ assets }}/art/{{ image }}"><img src="{{ assets }}/art/small/{{ image }}" /></a>
    {{/ art }}
  </section>
  <section class="projects">
    <h2 id="old-projects">Old Projects</h2>
    <ol>
        {{# old_projects }}
          {{> src/project }}
        {{/ old_projects }}
    </ol>
  </section>
  <div class="updated">Last updated {{ month }}/{{ year }}</div>
  {{> src/google_tracking }}
</body>
</html>
