<!DOCTYPE html>
<html>
<head>
  <title>Amy Ciavolino - Software Engineer in NYC</title>
  {{> src/head }}
</head>
<body>
  <h1>Amy Ciavolino</h1>
  <section class="intro">
      <p>Software engineer &amp; artist in NYC</p>
      <p>Say hello: <a href="mailto:hi@amy.tech">hi@amy.tech</a></p>
      <div class="social">
        <span>
          <a href="https://github.com/imightbeamy">
            <svg class="icon" viewBox="0 0 32 32"><use xlink:href="#icon-github"></use></svg>
          </a>
          <a href="https://twitter.com/imightbeAmy">
            <svg class="icon" viewBox="0 0 32 32"><use xlink:href="#icon-twitter"></use></svg>
          </a>
          <a href="https://giphy.com/imightbeamy">
            <svg class="icon" viewBox="0 0 32 32"><use xlink:href="#icon-giphy"></use></svg>
          </a>
          <a href="https://www.linkedin.com/in/amyciavolino">
            <svg class="icon" viewBox="0 0 32 32"><use xlink:href="#icon-linkedin"></use></svg>
          </a>
        </span>
      </div>
  </section>
  <section class="projects">
    <h2 id="projects">for fun</h2>
    <ol>
        {{# projects }}
          {{> src/project }}
        {{/ projects }}
    </ol>
    <a href="projects">Older projects</a>
  </section>
  <section class="resume">
    <h2 id="resume">for $$$</h2>
    <div class="jobs">
        {{# resume.jobs }}
        <span><a href="{{link}}">{{ company }}</a> <span>({{date}})</span>  </span>
        {{/ resume.jobs }}
    </div>
  </section>
  <div class="updated">
    Last updated {{ month }}/{{ year }}
    (<a href="https://github.com/imightbeamy/home-page">Source on GitHub</a>)
  </div>
  {{> src/google_tracking }}
</body>
</html>
