<!DOCTYPE html>
<html>
<head>
  <title>Amy Ciavolino - Software Engineer in NYC</title>
  {{> src/head }}
</head>
<body>
  <h1><a href="/">Amy Ciavolino</a></h1>
  <section class="intro">
      Software engineer living in NYC and working at <a href="http://www.etsy.com">Etsy.com</a>.
      <ol>
        <li>
            <a href="https://github.com/imightbeamy">
              <svg class="icon" viewBox="0 0 32 32"><use xlink:href="#icon-github"></use></svg>
            </a>
        </li>
        <li>
          <a href="https://twitter.com/imightbeAmy">
            <svg class="icon" viewBox="0 0 32 32"><use xlink:href="#icon-twitter"></use></svg>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/amyciavolino">
            <svg class="icon" viewBox="0 0 32 32"><use xlink:href="#icon-linkedin"></use></svg>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/imightbeamy/">
            <svg class="icon" viewBox="0 0 32 32"><use xlink:href="#icon-instagram"></use></svg>
          </a>
        </li>
      <ol>
  </section>
  <section class="projects">
    <h2 id="projects">Projects</h2>
    <ol>
        {{# projects }}
          {{> src/project }}
        {{/ projects }}
    </ol>
    <a href="projects.html">Older projects</a>
  </section>
  <section class="resume">
    <h2 id="resume">Jobs</h2>
    <ol class="jobs">
        {{# resume.jobs }}
        <li>{{ title }}, <strong>{{ company }}</strong> <span>{{date}}</span></li>
        {{/ resume.jobs }}
    </ol>
  </section>
  <section class="resume">
    <h2>Education</h2>
    <ol>
        {{# resume.education }}
        <li><strong>{{ school }}</strong>, {{ location }}<br>{{ degree }}</li>
        {{/ resume.education }}
    </ol>
  </section>
  <section class="resume">
    <h2>Publications</h2>
    <ol class="pubs">
        {{# resume.publications }}
        <li><strong>{{ authors }}.</strong> <a href="{{ link }}">{{ title }}</a>. {{ details }}.</li>
        {{/ resume.publications }}
    </ol>
  </section>
  <div class="updated">
    Last updated {{ month }}/{{ year }}
    (<a href="https://github.com/imightbeamy/home-page">Source on GitHub</a>)
  </div>
  {{> src/google_tracking }}
</body>
</html>
