body {
    max-width: 700px;
    font-family: 'Gabriela', Georgia, serif;
    margin: auto;
}
h1 {
    margin: 10px;
    padding: 0;
    text-align: center;
    font-size: 3em;
}
h2 {
    margin: 0;
}
h3 {
    margin: 15px 0 0;
}
section {
    border: solid 2px #E4E4E4;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

section.intro {
    border: none;
    padding: 0;
    text-align: center;
}
.intro li {
    display: inline-block;
    margin: 0 5%;
}

.icon {
    width: 3em;
    height: 3em;
    fill: #AA3030;
}

.icon:hover {
    fill: #C9C9C9;
}

a {
    color: #AA3030;
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}
div {
    overflow: hidden;
    width: 100%;
}
ol {
    list-style: none;
    padding: 0;
}

.resume ol {
    font-size: .8em;
    margin: 0;
    color: #888;
    margin: 0 0 1em 1em;
}
.resume strong {
    color: #000;
}
.resume span  {
    float: right;
}
.resume li {
    margin-top: 1em;
}
.resume .pubs {
    line-height: 1.5em;
}

.projects img {
    max-width: 50px;
    min-width: 2em;
    width: 15%;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
}
.projects p {
    font-size: .8em;
    margin: 0;
}
.projects span {
    font-weight: bold;
    display: block;
    overflow: hidden;
}
.projects li {
    display: block;
    overflow: hidden;
    margin: 10px 0;
}

.art img {
    max-height: 300px;
    max-width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.updated {
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 350px) {
    .projects p {
        clear: both;
        margin: 0;
    }
    .resume ol {
        margin-right: 0;
    }
}

@media (max-width: 630px) {
    .resume span  {
        display: none;
    }
}
