body {
    max-width: 700px;
    font-family: 'Gabriela', Georgia, serif;
    margin: auto;
}

h1,h2 {
    margin: 0;
    text-align: center;
    color: #00d5e4;
}

h1 {
    margin: 10px;
    padding: 0;
    font-size: 3em;
}

section {
    border-top: solid 1px #E4E4E4;
    padding: 10px;
    margin: 10px;
}

section.intro {
    border: none;
    padding: 0;
    text-align: center;
}
.social {
    padding-top: 20px;
}
.social a {
    margin: 0 5%;
}
.social span {
    white-space: nowrap;
}

.icon {
    width: 3em;
    height: 3em;
    fill: #ff2bd8;
}

.icon:hover {
    fill: #ffd800;
}

a {
    color: #ff2b2b;
    text-decoration: none;
}
a:hover {
    color: #ffd800;
}
.social a {
    text-decoration:none;
}
div {
    overflow: hidden;
    width: 100%;
}
ol {
    list-style: none;
    padding: 0;
}

.resume ol {
    font-size: .8em;
    margin: 0;
    color: #888;
    margin: 0 0 1em 1em;
}
.resume strong {
    color: #000;
}
.resume span  {
    float: right;
}
.resume li {
    margin-top: 1em;
}
.resume .pubs {
    line-height: 1.5em;
}

.projects img {
    max-width: 50px;
    min-width: 2em;
    width: 15%;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
}
.projects p {
    font-size: .8em;
    margin: 0;
}
.projects span {
    font-weight: bold;
    display: block;
    overflow: hidden;
}
.projects li {
    display: block;
    overflow: hidden;
    margin: 10px 0;
}

.updated {
    text-align: center;
    padding: 10px 0;
}
.updated a {
    white-space: nowrap;
}

@media (max-width: 630px) {
    .resume ol {
        margin-left: 0;
    }
}

@media (max-width: 580px) {
    .resume span  {
        display: none;
    }
}

@media (max-width: 350px) {
    .projects p {
        clear: both;
        margin: 5px 0;
    }

    .projects li > a {
        display: block;
        overflow: hidden;
    }
}