<li>
    <a href="{{ link }}">
        <img src="{{ assets }}/projects/{{ image }}" />
        <span>{{ title }}</span>
    </a>
    <p>
        {{{ description }}}
        {{# source }}
          (<a href="{{ source }}">Source</a>)
        {{/ source }}
    </p>
</li>